<div class="contenedor">
    <div class="grafica">
        <div class="barras" *ngFor="let item of datos">
            <div class="barra">
                <div class="valor" [style.height.%]="item.probabilidadDesarrollo">
                    <span class="pct">{{ item.probabilidadDesarrollo }}%</span>
                </div>
                <span class="fecha">{{ item.fechaConsulta }}</span>
            </div>

        </div>
    </div>
    <div class="boton-consulta">
        <button type="button" class="boton1" (click)="iniciarConsulta()">Realizar una nueva consulta</button>
    </div>
    <div class="resumen" *ngIf="target">
        <label class="resumen-titulo">Resumen <span>{{ target.fechaConsulta }}</span></label>
        <p class="resumen-parrafo">{{ target.resumen }}</p>
    </div>
</div>