.contenedor1 {
    display: flex;
    margin: 10px 10px 0px;
}

.grafica {
    display: flex;
    gap: 25px;
    padding: 20px;
    height: 300px;
    border: 1px solid #ddd;
    width: 70%;
}

.descripcion {
    display: flex;
    align-content: center;
    align-items: center;
    width: 30%;
    flex-direction: column;
    padding: 0px 15px;
}

.descripcion-titulo {
    margin: 0px;
}

.boton1 {
    margin: 0px;
    padding: 25px;
    border-radius: 43px;
}


.resumen {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0px 10px;
    transition: all 1s ease;
}

.resumen-titulo {
    display: flex;
    justify-content: space-between;
}

.fondo1 {
    background: #f5f5f5;
}