.contenedor-registrar {
    display: flex;
    padding: 35px 75px;
    justify-content: space-evenly;
}

.seccion1 {
    width: 49%;

}

.seccion1-titulo {
    color: var(--color-comun-2);
    font-size: 48px;
    margin: 0px;
}

.seccion1-texto {
    font-size: 19px;
}

.seccion1-img {
    border-radius: 20px;
}

.seccion1-img-pie {
    display: flex;
    margin: 30px;
    justify-content: center;
    font-weight: lighter;
}

.registrar {
    width: 49%;
}

.registrar-titulo {
    margin: 0px;
    font-size: 30px;
}

.registrar-instruccion {
    font-weight: lighter;
}

.titulo-inputs {
    margin-bottom: 8px;
    display: flex;
}

.formatoError {
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
}

.inputs {
    width: -webkit-fill-available;
}

.formularioBoton {
    width: -webkit-fill-available;
    margin: 0px 0px 10px 0px;

}

.texto-iniciarsesion {
    display: flex;
    justify-content: center;
}

.seccion2 {
    display: flex;
    padding: 0px 30px;
    align-items: center;
}



.seccion2-titulo {
    margin: 0px;
    font-size: xxx-large;
}

.seccion2-texto {
    font-size: large;
}



.seccion2-der-img {
    width: 300px;
    margin: 35px;
}

.seccion3 {
    padding: 15px;
}

.seccion3-titulo {
    font-size: -webkit-xxx-large;
    color: #0000007d;
}

.pregunta {
    color: #00000091;
    margin: 0px 0px 10px 0px;
    font-size: 27px;
}

.respuesta {
    margin: 0px 0px 30px 0px;
    font-size: 20px;
}