<app-header></app-header>

<div class="contenedor-registrar">
    <div class="seccion1">
        <h1 class="seccion1-titulo">BIENVENIDO a DIANET: Tu Salud, Nuestra Prioridad</h1>
        <p class="seccion1-texto">Regístrate ahora para acceder a herramientas avanzadas de gestión de salud y un
            seguimiento personalizado para tu bienestar.</p>
        <img src="registrar1.png" alt="error" class="seccion1-img">
        <i class="seccion1-img-pie">"Cuidamos de ti, cada paso del camino."</i>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="registrar()" class="registrar">
        <h2 class="registrar-titulo">Crear una Cuenta en DIANET</h2>
        <p class="registrar-instruccion">
            Introduce tu informacion para configurar tu nueva cuenta.
        </p>

        <label for="inputNombre" class="titulo-inputs">Nombre <span class="formatoError">{{errorNombre}}</span></label>
        <input type="text" id="inputNombre" formControlName="nombre" [ngClass]="{'errorBorde':errorNombre}"
            placeholder="Ingrese su nombre" class="inputs">

        <label for="inputApellidoP" class="titulo-inputs">Apellido paterno <span
                class="formatoError">{{errorApellidoP}}</span></label>
        <input type="text" id="inputApellidoP" formControlName="apellidoP" [ngClass]="{'errorBorde':errorApellidoP}"
            placeholder="Ingrese su apellido paterno" class="inputs">

        <label for="inputApellidoM" class="titulo-inputs">Apellido materno <span
                class="formatoError">{{errorApellidoM}}</span></label>
        <input type="text" id="inputApellidoM" formControlName="apellidoM" [ngClass]="{'errorBorde':errorApellidoM}"
            placeholder="Ingrese su apellido materno" class="inputs">

        <label for="inputCorreo" class="titulo-inputs">Correo electronico <span
                class="formatoError">{{errorCorreo}}</span></label>
        <input type="email" id="inputConrreo" formControlName="correo" [ngClass]="{'errorBorde':errorCorreo}"
            placeholder="Ingrese su correo electronico" class="inputs">

        <label for="contraseña" class="titulo-inputs">Contraseña <span
                class="formatoError">{{errorContrasena}}</span></label>
        <input type="password" id="inputContrasena" formControlName="contrasena"
            [ngClass]="{'errorBorde':errorContrasena}" placeholder="Ingrese su contraseña" class="inputs">

        <button type="submit" class="boton1 formularioBoton">Crear Cuenta</button>
        <p class="texto-iniciarsesion">¿Ya tienes una cuenta? <a routerLink="/" class="links space">Inicia Sesión</a>
        </p>
    </form>
</div>

<div class="seccion2">
    <div class="seccion2-izq">
        <h2 class="seccion2-titulo">¿Qué es Dianet?</h2>
        <p class="seccion2-texto">Dianet es una herramienta informativa que ayuda a los usuarios a estimar su nivel de
            probabilidad de desarrollar
            diabetes basándose en datos generales, historial familiar y hábitos de vida. Nuestro objetivo es brindarte
            una guía
            sencilla y accesible para que comprendas mejor tus posibles factores de riesgo y puedas tomar decisiones más
            conscientes sobre tu salud.
        </p>
    </div>
    <div class="seccion2-der">
        <img src="logo.png" alt="error" class="seccion2-der-img">
    </div>

</div>
<div class="seccion3">
    <h2 class="seccion3-titulo">Preguntas frecuentes</h2>
    <h3 class="pregunta">¿Dianet hace diagnósticos médicos?</h3>
    <p class="respuesta">No. Ofrecemos solo una estimación informativa, ante cualquier molestia o malestar recomendamos
        plenamente ir con su medico de confianza.</p>
    <h3 class="pregunta">¿Qué tan preciso es?</h3>
    <p class="respuesta">Contamos con una IA entrenada con datos de la mejor calidad, sin enbargo esto no significa que
        podamos remplazar la opinion de un medico.</p>
    <h3 class="pregunta">¿Mis datos se guardan?</h3>
    <p class="respuesta">Si, esto con la intencion de llevar un progreso personal que usted como usuario pueda ver y le
        sirva como seguimiento.</p>
    <h3 class="pregunta">¿Es gratis?</h3>
    <p class="respuesta">Si, dianet es totalmente gratis. Buscamos ofrecer mas oportunidades de salud a nuestros
        usuarios de forma gratuita y libre acceso.</p>
</div>