.consulta-container {
  display: flex;
  width: 100%;
  padding: 40px 80px;
  justify-content: space-between;
}

/* IZQUIERDA */
.image-section {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9f4fd;
  border-radius: 12px;
  padding: 30px;
}

.doctor-img {
  width: 80%;
  max-width: 380px;
}

/* DERECHA */
.form-section {
  width: 50%;
  background: white;
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.subtitle {
  color: #555;
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

.input, .textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.textarea {
  height: 80px;
  resize: none;
}

/* CHECKBOXES */
.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* BOTÓN RESPONDER */
.btn-responder {
  padding: 12px 20px;
  background: #2aa7ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  margin-bottom: 20px;
}

.btn-responder:hover {
  background: #0284c7;
}

/* BOTÓN SIGUIENTE */
.btn-next {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #2aa7ff;
  border: none;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-next:hover {
  background-color: #0284c7;
}
