.control {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

.contenedor {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 1px; */
    justify-content: center;
}

.contenedor-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 1px;
    border-radius: 5px;
    justify-content: space-around;
    height: min-content;
    padding: 5px 0px 35px;
}

.contenedor-form-titulo {
    font-size: 65px;
    margin: 9px;
}

.instruccion {
    font-weight: lighter;
    /* font-size: 26px; */
    margin: 0px;
}


.formulario-campos {
    display: flex;
    width: 65%;
    flex-direction: column;
}

.contenedor-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 70%;
}

.mensajeFin {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    /* opaco */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* sobre todo */
}

.mensaje {
    background: white;
    padding: 25px 35px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px #00000055;
}