<span class="control">
    <div class="contenedor">

        <div class="contenedor-logo">
            <img src="logo.png" alt="error :c" class="contenedor-logo-img">
        </div>
        <div class="contenedor-texto">
            <h1 class="contenedor-form-titulo" *ngIf="!mensaje">Recuperar contraseña</h1>
            <ng-container *ngTemplateOutlet="pasos" class="formulario-campos"></ng-container>
        </div>

    </div>
</span>






<!-- templates -->
<ng-template #pasos>
    <form [formGroup]="datosRecuperar" (ngSubmit)="siguientePaso()" class="contenedor-form">

        <!-- paso 1 -->
        <p class="instruccion" *ngIf="paso1">Ingrese el correo electronico ligado a su cuenta Dianet</p>
        <div *ngIf="paso1" class="formulario-campos">
            <label for="campoCorreoElectronico">Correo electronico <span
                    class="formatoError">{{errorCorreoElectronico}}</span></label>
            <input type="text" id="campoCorreoElectronico" name="CorreoElectronico" placeholder="Correo electronico"
                formControlName="correoElectronico" class="inputs">

            <button type="button" class="boton1" (click)="pasoUno()">Continuar</button>
        </div>

        <!-- paso 2 -->
        <p class="instruccion" *ngIf="paso2">Ingrese en el siguiente campo el codigo que se a enviado al correo
            proporcionado.</p>
        <div *ngIf="paso2" class="formulario-campos">
            <label for="codigo">Codigo <span class="formatoError">{{errorCodigo}}</span> </label>
            <input type="text" id="codigo" placeholder="Ingresar Codigo" formControlName="codigo" maxlength="7"
                class="inputs">

            <button type="button" class="boton1" (click)="pasoDos()">Continuar</button>
        </div>

        <!-- paso 3 -->
        <p class="instruccion" *ngIf="paso3">Ingrese su nueva contraseña en el siguiente campo y vuelva a hacerlo en el
            segundo campo.</p>
        <div *ngIf="paso3" class="formulario-campos">
            <label for="campoContrasena">contraseña <span class="formatoError">{{errorContrasena}}</span></label>
            <input type="password" id="campoContrasena" placeholder="Ingresar contraseña nueva"
                formControlName="contrasena" class="inputs">

            <label for="campoConfirmarContrasena">Confirmar contraseña <span
                    class="formatoError">{{errorConfirmarContrasena}}</span></label>
            <input type="password" id="campoConfirmarContrasena" placeholder="Ingresar contraseña nueva"
                formControlName="confirmarContrasena" class="inputs">

            <button type="submit" *ngIf="paso3" class="boton1">Confirmar</button>
        </div>
    </form>
</ng-template>

<!-- mensaje final -->
<div class="mensajeFin" *ngIf="mensaje">
    <div class="mensaje">Contraseña cambiada.</div>
</div>