/* You can add global styles to this file, and also import other style files */
:root {
    --color-comun-1: #3387a8;
    /* principal. botones holder, seleccion activa - holder */
    --color-comun-2: #3AA6D0;
    /* botones intactos, seleccion holder */
    --color-comun-3: #ffffff;
    /* fondo */
    --color-comun-4: #0d47a1;
    /* iconos */
    --color-comun-5: #a7e3c9;
    /* algo bien */
    --color-comun-6: #f32165;
    /* algo mal */
    --font-family-1: 'Roboto', sans-serif;
    --font-family-2: 'Open Sans', sans-serif;
    --font-family-3: 'Lato', sans-serif;
    --font-family-4: 'Nunito Sans', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

* {
    font-family: var(--font-family-3);
}

/* los titulos y el subtitulo al final no los use creo */
.titulo {
    font-weight: 600;
}

.subtitulo {
    font-weight: 600;
}

/* formato para mensajes de error */
.formatoError {
    color: var(--color-comun-6);
    font-size: x-small;
}

/* formato para estados de error en inputs cuando ocurran mensajes de error den los mismos */
.bordeError {
    border: 1px solid var(--color-comun-6);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

/* limpia los botones, a veces lo uso a veces no */
.limpiarButton {
    background: none;
    border: none;
    margin: 0px;
    padding: 0px;
}

/* se usa para limpiar los estilos de los links y sus efectos visuales */
.links {
    text-decoration: none;
    color: #1a1a1a;
    transition: color 0.2s ease;
}

/* el efecto visual al pasar cursor sobre el link */
.links:hover {
    color: var(--color-comun-2);
}

/* estilo para botones y su efectos cuando pasa cursor */
.boton1 {
    border-radius: 2.5px;
    border-width: inherit;
    box-shadow: 0px 0px 1px #1a1a1a;
    padding: 12px;
    background: var(--color-comun-2);
    color: white;
    font-size: large;
    transition: color 0.2s ease;
    margin-top: 20px;
}

/* efecto visual */
.boton1:hover {
    background: var(--color-comun-1)
}

/* inputs */
.inputs {
    border-radius: 2.5px;
    border-width: inherit;
    box-shadow: 0px 0px 1px #1a1a1a;
    padding: 12px;
    margin-bottom: 20px;
    transition: color 0.2s ease;
}

/* efecto inputs */
.inputs:hover {
    background: #fafafa;
    box-shadow: 0px 0px 2px #1a1a1a;
}

/* pequeña separacion para links dentro de textos */
.space {
    margin-left: 5px;
}